/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
// Extra DSpace variables
// ----------------------

$progress-btn-success-bg: #f9903C !default;
$progress-btn-success-border: #eee !default;
$progress-btn-success-disabled-bg: #fff !default;
$progress-btn-success-disabled-border: #ddd !default;