/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
// Extra DSpace variables
// ----------------------

$progress-btn-success-bg: #f9903C !default;
$progress-btn-success-border: #eee !default;
$progress-btn-success-disabled-bg: #fff !default;
$progress-btn-success-disabled-border: #ddd !default;

// Variables from the _auburn_aurora_styles file
$color_1: #496e9c;
$color_2: #dd550c;
$color_3: #DD550C;
$color_4: #fff;
$color_5: #000;
$font_family_1: "Open Sans", Arial, Verdana, sans-serif;
$background_color_1: #dd550c;
$background_color_2: #f68026;
$background_color_3: transparent;
$border_top_color_1: #fff;
$border_bottom_color_1: #fff;

// Custom version of the font-awesome font directory file path
$fa-font-path: "../vendor/font-awesome/fonts" !default;