/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
// Extra DSpace variables
// ----------------------

$progress-btn-success-bg: #f9903C !default;
$progress-btn-success-border: #eee !default;
$progress-btn-success-disabled-bg: #fff !default;
$progress-btn-success-disabled-border: #ddd !default;

// Variables from the _auburn_aurora_styles file

$color_burntOrange: #DD550C;
$color_white: #FFF;
$color_lightOrange: #F68026;
$color_black: #000;
$link_color: #496E9C;
$background_transparent: transparent;

$font_family_1: "Open Sans", Arial, Verdana, sans-serif;

// Custom version of the font-awesome font directory file path
$fa-font-path: "../vendor/font-awesome/fonts" !default;